/* Barlow */
@font-face {
  font-family: "Barlow";
  src: url("../lib/fonts/barlow-extralight-webfont.woff2") format("woff2"), url("../lib/fonts/barlow-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("../lib/fonts/barlow-extralightitalic-webfont.woff2") format("woff2"), url("../lib/fonts/barlow-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Barlow";
  src: url("../lib/fonts/barlow-medium-webfont.woff2") format("woff2"), url("../lib/fonts/barlow-medium-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("../lib/fonts/barlow-mediumitalic-webfont.woff2") format("woff2"), url("../lib/fonts/barlow-mediumitalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
/* Barlow Condensed */
@font-face {
  font-family: "Barlow Condensed";
  src: url("../lib/fonts/barlowcondensed-regular-webfont.woff2") format("woff2"), url("../lib/fonts/barlowcondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url("../lib/fonts/barlowcondensed-italic-webfont.woff2") format("woff2"), url("../lib/fonts/barlowcondensed-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url("../lib/fonts/barlowcondensed-medium-webfont.woff2") format("woff2"), url("../lib/fonts/barlowcondensed-medium-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url("../lib/fonts/barlowcondensed-mediumitalic-webfont.woff2") format("woff2"), url("../lib/fonts/barlowcondensed-mediumitalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
/* Berlin sans */
@font-face {
  font-family: "Berlin Sans FB";
  src: url("../lib/fonts/BerlinSansFB-Reg.woff2") format("woff2"), url("../lib/fonts/BerlinSansFB-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Berlin Sans FB";
  src: url("../lib/fonts/BerlinSansFB-Bold.woff2") format("woff2"), url("../lib/fonts/BerlinSansFB-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}


/* BREAKPOINTS */
/* DIMENSIONS */
/* COLORS */
/* Z-INDEXES */
body {
  margin: 0;
  padding: 0;
  background: black url("../img/background.jpg") center 60px no-repeat fixed;
  background-size: cover;
  color: white;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-weight: 300;
  font-size: 11.5pt;
  word-break: break-word;
  hyphens: auto;
  /* general links */
  /* VIEWS */
  /* Home */
  /* Diensten / Services */
  /* Games */
  /* News */
  /* Contact */
  /* PARTIALS */
  /* Agenda */
  /* Search Form */
}
body, body * {
  transition: all 0.2s;
}
body h1, body h2, body h3 {
  font-family: "Berlin sans fb", sans-serif;
  font-weight: 400;
}
  body h4, body h5, body h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}
body a, body a:hover, body a:active, body a:visited {
  color: #CC202D;
  text-decoration: none;
}
body b, body strong {
  font-weight: bold;
}
body i, body em {
  font-style: italic;
}
body ul {
  margin: 0;
  padding: 0;
  list-style: disc inside;
  text-align: left;
}
body header {
  background-color: rgb(232,65,58); 
  background-image: linear-gradient(179deg, rgba(232, 65, 58, 1) 0%, rgba(204,32,45,1) 42%);
}
body header div.masthead {
  display: flex;
  padding: 15px 0;
}
body header div.masthead > * {
  flex: 50%;
}
body header div.masthead a {
  display: flex;
  align-items: center;
}
body header div.masthead a img.logo {
  height: 60px !important;
  width: auto;
  object-fit: contain;
  object-position: center;
  padding-right: 15px;
}
body header div.masthead a h1 {
  margin: unset;
  padding: unset;
  color: white;
  font-size: 3rem;
}
body header div.masthead a h1 span {
  color: #f0b8a6;
  font-size: 1rem;
}
body header div.navhead {
  background-color: rgba(0, 0, 0, 0.25);
}
body header div.navhead nav.navbar > span {
  margin: 0 -0.5rem;
}
body header div.navhead nav.navbar a {
  color: white !important;
}
body header div.navhead nav.navbar a:hover {
  background-color: #CC202D;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
}
body header div.navhead nav.navbar ul {
  width: 100%;
}
body header div.navhead nav.navbar ul li.lang-item a {
  height: 100%;
  display: flex;
  align-items: center;
}
body header div.navhead nav.navbar ul li.lang-item a span {
  font-size: 1rem;
  color: white;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;
}
body header div.navhead nav.navbar ul li.lang-item.lang-item-nl {
  margin-left: auto;
}
body header div.navhead nav.navbar ul li.lang-item.lang-item-en {
  margin-left: auto;
}
body header div.navhead nav.navbar button.navbar-toggler {
  padding: 0 0.1em;
}
body header div.navhead nav.navbar button.navbar-toggler:focus {
  outline: unset;
}
body header div.navhead nav.navbar ul.dropdown-menu {
  background: #9b1a1f;
  border: unset;
  border-radius: 0 0 3px 3px;
  margin: 0;
}
body header section.breadcrumbs {
  background-color: black;
  padding: 0.25rem 0;
  font-size: 0.9rem;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.5);
}
body header section.breadcrumbs .breadcrumbs {
  padding: 0 10px;
}
body header section.breadcrumbs .breadcrumbs * {
  font-weight: bold;
}
body header.sticky-top.sticky, body header.sticky-top.sticky * {
  transition: none;
}
@media (min-width: 768px) {
  body header.sticky-top.sticky {
    -webkit-transform: translate3d(0, 0, 0);
  }
  body header.sticky-top.sticky > div {
    flex-flow: row !important;
    max-width: 1140px;
    margin: 0 auto;
  }
  body header.sticky-top.sticky > div div.masthead {
    flex: 1;
    padding: 5px 0;
  }
  body header.sticky-top.sticky > div div.masthead a {
    flex-flow: row;
  }
  body header.sticky-top.sticky > div div.masthead a img.logo {
    height: 40px !important;
  }
  body header.sticky-top.sticky > div div.masthead a h1 {
    font-size: 1.2rem;
  }
  body header.sticky-top.sticky > div div.masthead a h1 span {
    display: none !important;
  }
  body header.sticky-top.sticky > div div.masthead span.social {
    display: none !important;
  }
  body header.sticky-top.sticky > div div.navhead {
    flex: 3;
    background-color: unset;
    display: flex;
    align-items: center;
  }
  body header.sticky-top.sticky > div div.navhead nav.navbar {
    height: 100%;
  }
  body header.sticky-top.sticky > div div.navhead nav.navbar .navbar-collapse {
    height: inherit;
    justify-content: flex-end;
  }
  /*
  body header.sticky-top.sticky > div div.navhead nav.navbar .navbar-collapse ul {
    height: inherit;
  }
  */
  body header.sticky-top.sticky > div div.navhead nav.navbar .navbar-collapse ul li {
    height: inherit;
    display: flex;
    align-items: center;
  }
  body header.sticky-top.sticky > div div.navhead nav.navbar .navbar-collapse ul li ul {
    background-color: #CC202D;
  }
}
body section.fixed-photo {
  z-index: -1;
  position: fixed;
  top: 70px;
  background-color: black;
  max-width: 100vw;
}
body section.fixed-photo img {
  display: block;
  object-fit: cover;
  object-position: center -120px;
  opacity: 0.5;
}
body section.fixed-photo:hover img {
  opacity: 0.15;
}
body main {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0 15px;
}
body main section.content {
  padding: 2rem 0;
  margin: 0 -15px;
}
body main section.content aside.ruler {
  opacity: 0.25;
}
body main section.content article {
  text-align: justify;
}
body main section.boardmembers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
body main section.boardmembers article.boardmember {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 3px;
  width: 23%;
  margin-bottom: 2rem;
  overflow: hidden;
}
body main section.boardmembers article.boardmember > h3 {
  flex: 0;
  font-size: 1.25rem;
  text-align: center;
  padding: 30px 0;
  height: 5rem;
}
body main section.boardmembers article.boardmember > div {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 15px;
  background-color: #CC202D;
  margin-top: 60px;
}
body main section.boardmembers article.boardmember > div, body main section.boardmembers article.boardmember > div a {
  color: white;
}
body main section.boardmembers article.boardmember > div > p {
  text-align: center;
}
body main section.boardmembers article.boardmember > div img {
  width: 60%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  margin-top: -60px;
  border: 3px solid white;
  box-shadow: 0 2px 2px rgba(123, 20, 25, 0.5);
}
body #instagram_feed .instagram_gallery {
  display: flex;
}
body #instagram_feed .instagram_gallery img {
  float: none !important;
}
body footer {
  background-color: #0d0f10;
  width: 100%;
  min-height: 60px;
  position: relative;
  bottom: 0;
}
body footer > div > * {
  text-align: center;
  margin: 0.5rem 0;
}
body.home {
  background-image: unset;
}
body.home main {
  background-color: rgba(0, 0, 0, 0.3);
}


body.home main section.content section.inner {
  width: 75%;
  font-size: clamp(11.5pt, 2vw, 1.5vw);
  margin: 5rem 0 6rem 1rem;
  line-height: 150%;

}
body.home main section.content section.blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
body.home main section.content section.blocks div.block {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #CC202D;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 0 15px 2rem;
  transition: background-color 0.2s;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 100%;
}
body.home main section.content section.blocks div.block h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  body.home main section.content section.blocks div.block {
    flex: 1 45%;
  }
}
@media screen and (min-width: 1200px) {
  body.home main section.content section.blocks div.block {
    flex: 0 30%;
  }
}
body.home main section.content section.blocks div.block a {
  color: white;
}
body.home main section.content section.blocks div.block a:hover {
  color: inherit;
}
body section.content.diensten,
body section.content.services,
body section.content.documenten,
body section.content.documents {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
body section.content.diensten article,
body section.content.services article,
body section.content.documenten article,
body section.content.documents article {
  background: rgba(0, 0, 0, 0.1);
  border-left: 1px solid #dee2e6;
  border-radius: 0 3px 3px 0;
  padding: 15px;
  margin: 1rem 0 0;
  cursor: default;
  flex: 1 "100%";
}
@media screen and (min-width: 768px) {
  body section.content.diensten article,
body section.content.services article,
body section.content.documenten article,
body section.content.documents article {
    flex: 1 "48%";
  }
}
@media screen and (min-width: 992px) {
  body section.content.diensten article,
body section.content.services article,
body section.content.documenten article,
body section.content.documents article {
    flex: 0 "32%";
  }
}
body section.content.diensten article:hover,
body section.content.services article:hover,
body section.content.documenten article:hover,
body section.content.documents article:hover {
  border-color: #CC202D;
}
body.post-type-archive-games main section.content div.game_navi,
body.post-type-archive-games main section.content div.tagline {
  background-color: #CC202D;
  padding: 15px;
  margin: 15px 0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}
body.post-type-archive-games main section.content div.game_navi {
  justify-content: space-evenly;
}
body.post-type-archive-games main section.content div.masonry {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
body.post-type-archive-games main section.content div.masonry article {
  background: rgba(0, 0, 0, 0.1);
  margin: 0 0 15px 0;
  padding: 15px;
  border-radius: 0 3px 3px 0;
  border-left: 1px solid #dee2e6;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  break-inside: avoid;
  flex: 1 "100%";
}
body.post-type-archive-games main section.content div.masonry article a {
  color: white;
  text-decoration: none;
}
body.post-type-archive-games main section.content div.masonry article a:hover {
  text-decoration: none;
}
body.post-type-archive-games main section.content div.masonry article:hover {
  box-shadow: 0 0 10px -5px rgba(255, 255, 255, 0.5);
  border-color: #d2232a;
}
@media screen and (min-width: 768px) {
  body.post-type-archive-games main section.content div.masonry article {
    flex: 1 "48%";
  }
}
@media screen and (min-width: 992px) {
  body.post-type-archive-games main section.content div.masonry article {
    flex: 0 "32%";
  }
}
body article.news,
body article.nieuws {
  background-color: white;
  color: #23282d;
  border-radius: 3px;
  padding: 15px;
  margin: 0 0 15px 0;
}
body article.news img.wp-post-image,
body article.nieuws img.wp-post-image {
  height: 100%;
  max-width: 10vw;
  border: 3px solid white;
  border-radius: 2px;
  object-fit: contain;
  object-position: center;
}
body aside.maps figure.map iframe {
  width: 100%;
  min-height: 20rem;
}
body #agenda {
  height: 300px;
  border: unset;
  border-radius: unset;
  background-color: unset;
  color: white!important;
}
body #agenda .gcf-header-block {
  display: none;
}
body #agenda .gcf-item-container-block * {
  text-shadow: unset;
}
body #agenda .gcf-item-container-block .gcf-item-block {
  border-bottom: 1px solid white;
  margin: 0;
  padding: 15px 10px;
  cursor: pointer;
}
body #agenda .gcf-item-container-block .gcf-item-block .gcf-item-header-block {
  display: flex;
  flex-flow: column-reverse nowrap;
  color: white;
}
body #agenda .gcf-item-container-block .gcf-item-block .gcf-item-header-block .gcf-item-date-block {
  color: transparent;
  font-size: 0;
}
body #agenda .gcf-item-container-block .gcf-item-block .gcf-item-header-block .gcf-item-date-block span {
  color: #F0B8A6;
  font-size: 1rem;
}
body #agenda .gcf-item-container-block .gcf-item-block .gcf-item-header-block .gcf-item-title-block {
  font-size: 1rem;
  font-weight: bold;
}
body #agenda .gcf-item-container-block .gcf-item-block .gcf-item-body-block {
  color: white;
}
body form.search-form {
  display: flex;
  justify-content: space-between;
}
body form.search-form label {
  margin: 0;
  text-align: left;
}
body form.search-form label input.search-field {
  border: unset;
  border-radius: 2px;
  background-color: white;
  margin: 0;
  padding: 3px;
}
body form.search-form label input.search-field:focus {
  outline: unset;
}
.wp-block-search__button{
  margin-left: 0px;
  border: 0px solid #ccc;
}
.wp-block-search__input {
  border: 0px solid #ccc;
}
/*overrides for fucky social icons plugin*/
.icon-set-lsi_widget-3 a, .icon-set-lsi_widget-3 a:visited, .icon-set-lsi_widget-3 a:focus{
  background: transparent !important;
}
.lsi-social-icons li.lsi-social-facebook a {
  background: transparent !important;
}
.lsi-social-icons li.lsi-social-twitch a {
  background: transparent !important;
}
.lsi-social-icons li.lsi-social-instagram a {
  background: transparent !important;
}

/* insta plugin*/
#sb_instagram .sbi_photo{
  border-radius: 3px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.spotlight-instagram-feed{
margin-bottom: 3rem;
}
.FeedLayout__wrapper{
  border-radius: 3px;
}
.instagram_feed{
  padding-bottom: 1rem;
}

/*board widgets*/
.board-member-name{
  font-family: "Berlin sans fb", sans-serif;
  font-weight: 400;
  font-size: 150%;
  color: #F0B8A6;
}
body main section.boardmembers article.boardmember > h3{
  font-size: 2rem;
  padding: 20px 0;
}
body main section.boardmembers article.boardmember > div{
  border-radius: 3px;
}
.button-boardmember-contact {
  display: inline-block;
  width: 100%;
  padding: 10px 9px;
  text-align: center;
  text-decoration: none;
  color: white!important;
  border-radius: 15px;
  border: 3px solid white;
  outline: none;
  background-blend-mode: saturation;
  font-family: "Berlin sans fb", sans-serif;
  font-weight: 400;
  margin-top: auto;
}
/*main page*/
.button-call-to-action{
  display: inline-block;
  width: 100%;
  height: 108%;
  padding: 10px 9px;
  text-align: center;
  text-decoration: none;
  color: white!important;
  border-radius: 2px;
  /* border: 3px solid white; */
  outline: none;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  background-color: #E8413A;
  font-family: "Berlin sans fb", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.main-hero-text{
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: -1rem;
  border-left: 1px solid #dee2e6;
  padding: 15px;
}

/*google drive plugin arrow fix*/
.imagelightbox-arrow:before{
  margin: auto;
  margin-bottom: auto; 
}
.imagelightbox-arrow-right:before{
  margin-left: auto;
}
.imagelightbox-arrow-left:before{
  margin-right: auto; 
}
.imagelightbox-arrow{
  width: 4em;
  height: 4em;
  vertical-align: middle;
  display: flex!important;
  position: fixed;
  top: 50%;
  padding: 0;
  margin-top: -3.75em;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}


@media (max-width: 768px) {
  body header > div {
    min-height: 70px;
  }
  body header div.navhead {
    background: unset;
  }
  body header div.navhead nav.navbar {
    margin: 10px 0 0 10px;
  }
  body header div.navhead nav.navbar .navbar-collapse {
    margin-top: 15px;
  }
  body header div.navhead nav.navbar .navbar-collapse .dropdown-menu {
    background: unset;
  }
  body header div.navhead nav.navbar ul li.lang-item {
    margin-left: unset !important;
  }
  body header div.navhead nav.navbar ul li.lang-item a {
    padding: 0.5rem 0;
  }
  body header div.navhead nav.navbar ul li.lang-item a span {
    font-size: initial;
    color: white;
    padding-left: 30px;
    background-position: left bottom;
    width: 100%;
  }
  body header div.masthead {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px 15px 5px 0;
    right: 0;
    max-width: 70vw;
  }
  body header div.masthead > * {
    flex: unset;
  }
  body header div.masthead a {
    flex-flow: row-reverse;
  }
  body header div.masthead a img.logo {
    padding-right: unset;
    padding-left: 15px;
  }
  body header div.masthead a h1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 576px) {
  body header div.masthead a h1 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 320px) {
  section.boardmembers article.boardmember {

    flex: 0 100%;
  }
}


@media screen and (min-width: 768px) {
  section.boardmembers article.boardmember {
    flex: 0 45%;
  }
}
@media screen and (min-width: 1200px) {
  section.boardmembers article.boardmember {
    flex: 0 24%;
  }
}

/*# sourceMappingURL=main.css.map */
